<div style="background-color: {{fidget.properties.color}}; height:{{fidget.properties.height}}px; width:{{fidget.properties.width}}px;" hm-tapend="onClick(fidget, fidget.properties.onClick)" ng-mouseup="onClick(fidget, fidget.properties.onClick)">

</div>

<style>
    #{{fidget.id}}{
        -ms-transform: rotate({{fidget.properties.angle}}deg); /* IE 9 */
        -webkit-transform: rotate({{fidget.properties.angle}}deg); /* Chrome, Safari, Opera */
        transform: rotate({{fidget.properties.angle}}deg);
                  }
</style>