<div ng-if="isMobile">
    <h4>{{::localization.currentLocal.settings.tabs.general.screenScale}}</h4>

    <div class="screenScaleContainer">
        <input class="form-control form-control-66" type="number" min="0.1" max="2" step="0.05" ng-change="settings.setViewScale(settings.viewScale, 500)" ng-model="settings.viewScale" />
        <button class="btn btn-default button-33" ng-click="settings.autoScale()">{{::localization.currentLocal.settings.tabs.general.autoScale}}</button>
    </div>

    <h4>{{::localization.currentLocal.settings.tabs.general.pinchEnabled}}</h4>
    <div class="checkbox">
        <input type="checkbox" ng-model="settings.pinchEnabled" id="pinchEnabled">
        <label for="pinchEnabled">{{::localization.currentLocal.settings.tabs.general.switchPinchEnabled}}</label>
    </div>
</div>

<h4>{{::localization.currentLocal.settings.tabs.general.onScreenHelp}}</h4>
<div class="checkbox">
    <input type="checkbox" ng-model="helpMessages.show" ng-change="helpMessages.setShow(helpMessages.show)" id="showHideHelp">
    <label for="showHideHelp">{{::localization.currentLocal.settings.tabs.general.onScreenHelpSwitch}}</label>
</div>

<h4>{{::localization.currentLocal.settings.tabs.general.statLabel}}</h4>
<div class="checkbox">
    <input type="checkbox" ng-model="settings.isStatVisible" ng-change="settings.showStatistics()" id="showHideStats">
    <label for="showHideStats">{{::localization.currentLocal.settings.tabs.general.statSwitchLabel}}</label>
</div>

<h4>{{::localization.currentLocal.settings.tabs.general.forceBelt}}</h4>
<div class="checkbox">
    <input type="checkbox" ng-model="settings.forceScreenBeltShow" ng-change="settings.setScreenBeltShow()" id="forceBelt">
    <label for="forceBelt">{{::localization.currentLocal.settings.tabs.general.forceBeltSwitchLabel}}</label>
</div>

<h4>Zoom controls</h4>
<div class="checkbox">
    <input type="checkbox" ng-model="settings.zoomControls" ng-change="settings.setZoomControls()" id="zoomControls">
    <label for="zoomControls">Check to zoom controls with 50%</label>
</div>

<div class="addonGenerals" ng-repeat="a in settings.addonGeneralSettings">
    <ng-include src="a.html"> </ng-include>
</div>
