<svg height="{{fidget.properties.height}}" width="{{fidget.properties.width}}" xmlns="http://www.w3.org/2000/svg">
    <circle cx="{{fidget.properties.width / 2}}"
            cy="{{fidget.properties.height / 2}}"
            r="{{fidget.properties.width > fidget.properties.height ? (fidget.properties.height - fidget.properties.stroke) / 2 : (fidget.properties.width - fidget.properties.stroke) / 2}}"
            stroke="{{fidget.properties.borderColor}}"
            stroke-width="{{fidget.properties.stroke}}"
            fill="{{fidget.properties.color}}" />
</svg>