<select ng-model="editHandler.editedFidget.properties[p]" class="form-control">
    <option value="circle">{{localization.currentLocal.fidgets.shapes.circle}}</option>
    <option value="ellipse">{{localization.currentLocal.fidgets.shapes.ellipse}}</option>
    <option value="rectangle">{{localization.currentLocal.fidgets.shapes.rectangle}}</option>
    <option value="triangle_isosceles">{{localization.currentLocal.fidgets.shapes.triangle_isosceles}}</option>
    <option value="triangle_rectangular">{{localization.currentLocal.fidgets.shapes.triangle_rectangular}}</option>
    <option value="star">{{localization.currentLocal.fidgets.shapes.star}}</option>
    <option value="pentagon">{{localization.currentLocal.fidgets.shapes.pentagon}}</option>
    <option value="hexagon">{{localization.currentLocal.fidgets.shapes.hexagon}}</option>
    <option value="octagon">{{localization.currentLocal.fidgets.shapes.octagon}}</option>
    <option value="trapezoid">{{localization.currentLocal.fidgets.shapes.trapezoid}}</option>
    <option value="arrow">{{localization.currentLocal.fidgets.shapes.arrow}}</option>
    <option value="arrow_long">{{localization.currentLocal.fidgets.shapes.arrow_long}}</option>
    <option value="arrow_head">{{localization.currentLocal.fidgets.shapes.arrow_head}}</option>
    <option value="arrow_cursor">{{localization.currentLocal.fidgets.shapes.arrow_cursor}}</option>
    <option value="plus">{{localization.currentLocal.fidgets.shapes.plus}}</option>
    <option value="heart">{{localization.currentLocal.fidgets.shapes.heart}}</option>
    <option value="wrench">{{localization.currentLocal.fidgets.shapes.wrench}}</option>
    <option value="rabbit">{{localization.currentLocal.fidgets.shapes.rabbit}}</option>
    <option value="fish">{{localization.currentLocal.fidgets.shapes.fish}}</option>
</select>   