<div ng-controller="scriptEditorController" style="text-align: right;" ng-click="scrollBottom()"
     class="scriptEditor"
     ng-class="{ 'fullscreen': isFullscreen }"
     ng-style="isFullscreen ? editorStyle : {}"
     id="{{id}}">

    <div class="editorContainer" style="height: 200px;">
        <textarea ng-init="setCurrentProperty(p)" class="editor" ui-ace="{
                                      useWrapMode : true,
                                      mode: 'javascript',
                                      firstLineNumber: 1,
                                      onLoad: aceLoaded,
                                      onChange: fidgetPropertyEdited,
                                      useWorker: false
                                    }" ng-model="editHandler.editedFidget.properties[p]"></textarea>
    </div>

    <div class="controllers">
        <ng-include ng-repeat="extra in scriptEditorExtras" src="extra"></ng-include>
        <button class="btn btn-default glyphicon"
                ng-class="{'glyphicon-resize-full': !isFullscreen, 'glyphicon-resize-small': isFullscreen}"
                ng-click="setFullscreen(!isFullscreen)"></button>
    </div>

</div>

