<div class="progress" style="margin-bottom: 0px; width:{{fidget.properties.width}}px; height: {{fidget.properties.height}}px;"
     ng-click="onClick(fidget, fidget.properties.onClick)">
    <div class="progress-bar" role="progressbar" aria-valuenow="{{fidget.properties.value > 100 ? 100.00 : fidget.properties.value}}"
         aria-valuemin="-100" aria-valuemax="100" style="width: {{fidget.properties.value > 100 ? 100.00 : fidget.properties.value}}%; background-color: {{fidget.properties.color}}">
        <div class="progress-bar-percent" style="{{fidget.properties.fontColor ? 'color: ' + fidget.properties.fontColor + ' !important' : ''}}">
            <span>{{(parseNumber(fidget.properties.value) > 100 ? 100.00 : parseNumber(fidget.properties.value)).toFixed(0)}}%</span>
        </div>
    </div>

    <style>
        #{{fidget.id}} .progress-bar-percent{
                           font-size: {{fidget.properties.height / 2}}px !important;
                       }
        
         #{{fidget.id}} span{
                            line-height: {{fidget.properties.height}}px;
                        }
    </style>
</div>